freezegun>=0.3.11
hypothesis>=3.31
mypy>=1.8.0
pytest-aiofiles>=0.2.0
pytest-asyncio==0.21.1
pytest-base-url>=2.1.0
pytest-cov>=4.1.0
pytest-forked>=1.6.0
pytest-openfiles>=0.5.0
pytest-random-order>=1.1.1
pytest-sugar>=1.0.0 # TODO: check the need
pytest>=8.0.2
pytz
ruff>=0.3.0
vulture
yarl

# Conditional
pre-commit>=3.6.2; python_version >= '3.9'
pre-commit>=3.5.0; python_version < '3.9'
